/*  your css code here. If applicable */
:root{
	background:rgb(135, 206, 235);
}
p:first-child{
	color:white;
	background:black;
}
p:nth-child(2){
	color:black;
}
p:last-child{
	color:red;
}
.a{
	width:50%;
	padding:10px;
}
li:nth-child(even){
	background:grey;
}
li:nth-child(odd){
	background:white;
	
}
li:nth-last-of-type(3){
	background:pink;
}
li:first-child{
	font-size:22px;
}
li:last-child{
	font-size:22px;
}
